<h1><%= params[:destination_name] %></h1>
<div id="map"></div>
<!-- <p><b>Your current address</b>: <span id="start"></span></p> -->
<p><b>Destination address</b>: <span id="end"><%= params[:destination_address] %></span></p>
<!-- <p><b>Destination LatLng</b>: <span id="end">'<% params[:destinationLatLng].to_s %>'</span></p> -->
<p id="error"></p>

<%= javascript_tag do %>
  <!-- window.destinationAddress = <%= raw params[:destination_address].to_json %>; -->
  window.destinationLatLng = '<%= raw params[:destinationLatLng].to_s %>';
<% end %>

<div id="directionsPanel" style="float:right;width:30%;height 100%"></div>
