<% @results.businesses.each do |result| %>
<strong><%= result.name %></strong>
<h1><%= result.name %></h1>
<div class="background" style="background-image: url(<%=result.image_url.gsub('ms.jpg', 'o.jpg')%>);">
</div>
<p>
<div>
  <p>
  <strong>Rating:</strong> <%= result.rating %> out of 5, based on <%= result.review_count %> reviews.
  <p>
  <strong>Hot take:</strong> <%= result.snippet_text %>
  <p>
  <strong>Phone:</strong> <%= result.display_phone %>
  <p>
  <strong>Address:</strong> <%= result.location.display_address.join(', ') %>

<% end %>
<p>
  <%= link_to fa_icon('arrow-left', text: 'Back'), attractions_pick_path, class: 'btn btn-sm btn-default' %>
  |
  <%= link_to fa_icon('arrow-right', text: 'Next'), (@results.businesses[params[:i].to_i + 1]), class: 'btn btn-sm btn-default' %> <!-- need to add a safety to prevent +6 -->
<p>
