<p id="notice"><%= notice %></p>

<h1>Bored</h1>

<table>
  <thead>
    <tr>
      <th>Yelp ID</th>
      <th>Location coordinates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boreds.each do |bored| %>
      <tr>
        <td><%= bored.yelp_id %></td>
        <td><%= bored.location %></td>
        <td><%= link_to 'Show', bored %></td>
        <td><%= link_to 'Edit', edit_bored_path(bored) %></td>
        <td><%= link_to 'Destroy', bored, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bored', new_bored_path %>
