<p id="notice"><%= notice %></p>

<h1><%= @bored.id %></h1>

  <p>
  <strong>Address:</strong>
  <p>
  <%= @bored.latitude %>
  <%= @bored.longitude %>

    <p>
    <% if @bored.location.nil? == false %>
    <%= @bored.location %>
    <% end %>
