<h1>DoThis!</h1>
<p>Are you bored, or hungry?</p>
<script type="text/javascript" src='assets/application.js'></script>
<div class="table-responsive">
    <div class="form-group">
      <div>
      <%= form_tag(search_path) do %>
        <%= hidden_field_tag(:term, "attractions") %>
        <%= submit_tag :Bored, class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
    </div>
    <div class="form-group">
      <div>
      <%= form_tag(search_path) do %>
        <%= hidden_field_tag(:term, "food") %>
        <%= submit_tag("Hungry", class: 'btn btn-primary btn-lg') %>
      <% end %>
    </div>
    </div>
</div>
