<h1>DoThis!</h1>
<p>Are you bored, or hungry?</p>

<div class="col-lg-2">
  <div class="form-group">
    <%= form_tag(attractions_pick_path, method: "get") do %>
      <%= hidden_field_tag :term, "attractions" %>
      <%= hidden_field_tag :latitude, nil, class: 'latitude' %>
      <%= hidden_field_tag :longitude, nil, class: 'longitude' %>
      <%= submit_tag :Bored, class: 'btn btn-success btn-block', style: "display: none;" %>
    <% end %>
  </div>
  <div class="pending-geolocation">
    <%= fa_icon("spinner spin", text: "Detecting your location") %>
  </div>
  <div class="form-group">
    <%= form_tag(attractions_pick_path, method: "get") do %>
      <%= hidden_field_tag :term, "food" %>
      <%= hidden_field_tag :latitude, nil, class: 'latitude' %>
      <%= hidden_field_tag :longitude, nil, class: 'longitude' %>
      <%= submit_tag("Hungry", class: 'btn btn-primary btn-block', style: "display: none;") %>
    <% end %>
  </div>
</div>
