<p id="notice"><%= notice %></p>


<h3><%= @result.name %></h3>
<p>
  <%= image_tag(@result.image_url) %>
  <p>
  <strong>Rating:</strong> <%= @result.rating %> out of 5, based on <%= @result.review_count %> reviews.
  <p>
  <strong>Hot take:</strong> <%= @result.snippet_text %>
  <p>
  <strong>Phone:</strong> <%= @result.display_phone %>
  <p>
  <strong>Address:</strong> <%= @result.location.display_address.join(', ') %>
<p>
  <a href="<%= @result.url %>" target="_blank"><strong>Details</strong></a> |
  <a href="https://www.google.com/maps/dir/My+location/<%= @result.location.display_address.join(',+') %>" target="_blank"><strong>Take me there!</strong></a>
<!-- <a href="/direction">Take me there!</a> -->
<p>
  <%= link_to fa_icon('arrow-left', text: 'Back'), hungry_path(params[:id].to_i - 1), class: 'btn btn-sm btn-default' %>
  |
  <%= link_to fa_icon('arrow-right', text: 'Next'), hungry_path(params[:id].to_i + 1), class: 'btn btn-sm btn-default' %> <!-- need to add a safety to prevent +6 -->
<p>
<!-- link_to 'Edit', edit_hungry_path(@hungry) |
     link_to 'Back', hungries_path  -->
