<p id="notice"><%= notice %></p>

<h1>Attractions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Reviews count</th>
      <th>Image url</th>
      <th>Snippet text</th>
      <th>Location</th>
      <th>Yelp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boreds.each do |bored| %>
      <tr>
        <td><%= bored.name %></td>
        <td><%= bored.rating %></td>
        <td><%= bored.reviews_count %></td>
        <td><%= bored.image_url %></td>
        <td><%= bored.snippet_text %></td>
        <td><%= bored.location %></td>
        <td><%= bored.yelp_id %></td>
        <td><%= link_to 'Show', bored %></td>
        <td><%= link_to 'Edit', edit_bored_path(bored) %></td>
        <td><%= link_to 'Destroy', bored, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bored', new_bored_path %>
